.idea/
__pycache__/
*.pyc
venv/
.env
*.md
*.pkl
*.zip
*.json
*.npy
*.pth
*.ply
*.npz
*.ipynb
*.pny
*.yaml
datasets/
hot_analysis/
challenges/
data/conversions/
data/processed/
data/smpl/
data/smplx/
data/weights/
data/preprocess/
models/cliff_hr48/
models/cliff_res50/
models/backbones/hrnet/
vis/
events.*
1.log
2.log
deco_results/
